@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.form{
    text-align: center;
 }
 .btn{
     display: flex;
     justify-content: space-around;
 }
 .login-box{
     width:280px;
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
 }
 body {
    background: linear-gradient( to left,rgb(23, 147, 179), pink);
}
.textbox{
    width:100%;
    font-size:20px;
    padding:8px 0;
    margin:8px 0

}